.heading {
  color: #0CD;
}

.list {
  background: white;
  position: fixed;
  top: 30px;
  bottom: 0;
  left: 0;
  width: 250px;
  overflow: scroll;
}

@media print {
  .list {
    display: none;
  }
}
