.song {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 85%;
  margin-left: 20px;
  padding: 0 20px;
  background: #FFF;
  transition: right 0.5s ease-in-out;
}

.song-active {
  right: 0;
}

.songDetailsProperties {
  position: absolute;
  top: 110px;
  bottom: 0;
  overflow-y: scroll;
}

@media print {
	.song {
		margin-left: 0px;
	}
	.buttons {
		display: none;
	}
}