.heading {
  color: #0CD;
}

.wrapper {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #ddd;
}

.list {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: scroll;
  text-decoration: none;
  padding: 0;
}

.list-item {
  padding-top: 0;
  padding-bottom: 0;
}

.list-item:nth-child(even) {
  background-color: #f6f6f6;
}

.list-item:hover {
  background-color: #e6e6e6;
}

.songProp {
  padding: 5px 0;
  text-align: center;
}

.songTitle {
  text-align: left;
}

@media print {
	.list {
		display: none;
	}
}
