.heading {
  color: #0CD;
}

.wrapper {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.list {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  width: 100%;
	overflow: scroll;
  text-decoration: none;
}

.list li {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ddd;
  padding: 5px 0;
}

.songTitle {
  background-color: #eee;
}

@media print {
	.list {
		display: none;
	}
}
