.heading {
  color: #0CD;
}

.list {
  background: #eee;
  position: fixed;
  top: 45px;
  bottom: 0;
  left: 170px;
  width: 250px;
  overflow: scroll;
  z-index: 10000;
}

@media print {
  .list {
    display: none;
  }
}
